/* DEFINITION */

.intro {
  margin: 0px 300px;
  padding: 0px 50px;
  border-bottom: 1px solid white;
}

.header {
  font-size: 25px;
  margin-bottom: 6px;
  font-weight: bold;
}

.pronounciation {
  margin-bottom: 2px;
}

.definition {
  margin-bottom: 30px;
  font-size: 13px;
}

/* MISSION */

.mission {
  margin-top: 25px;
  font-size: 25px;
  font-weight: bold;
  font-style: oblique;
  margin-bottom: 6px;
}

.mission-content {
  margin: 0px 300px;
  font-size: 13px;
  padding: 0px 50px 30px 50px;
  border-bottom: 1px solid white;
}

/* TEAM */

.team {
  margin-top: 25px;
  font-size: 25px;
  font-weight: bold;
  font-style: oblique;
  margin-bottom: 30px;
}

.team-content {
  padding: 0px 300px 50px 300px;
}

.center-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.picture {
  width: 100%;
  margin-bottom: 3px;
  z-index: 1;
  transition: opacity 0.3s ease, color 0.3s ease;
}

.hover-elements:hover .picture {
  opacity: 0.5;
}

.hover-elements:hover .l-logo {
  display: inline-block;
}

.hover-elements:hover .g-logo {
  display: inline-block;
}

.g-logo {
  display: none;
  width: 25px;
  top: 53px;
  left: 53px;
  position: absolute;
  z-index: 2;
  transition: opacity 0.3s ease, color 0.3s ease;
}

.l-logo {
  display: none;
  width: 30px;
  top: 50px;
  position: absolute;
  z-index: 2;
  transition: opacity 0.3s ease, color 0.3s ease;
}

.name {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 2px;
}

.year {
  font-style: oblique;
  font-size: 12px;
}
