.school-list {
  padding-top: 30px;
}

.campus {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-radius: 100px;
  text-align: center;
  margin: 5px 0px 14px 0px;
  padding: 10px 0px 10px 0px;
  width: 30%;

  transition: background-color 0.5s ease, color 0.5s ease;
}

.campus:hover {
  background-color: white;
  color: #262647;
}

.info{
  margin-left: 25%;
  margin-right: 25%;
}

.info p{
  color:black;
  display:none;
  background-color:white;
  border-radius:10px;
  padding: 20px;
}
