.myNavbar {
  margin: 20px 70px 20px 70px;
}

.asepsis {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 0px 3px 2px 0px;
  border-bottom: 1px solid white;
  margin-bottom: 0px;
}

.logo {
  margin: 0px;
}

.nav-list {
  padding-top: 17px;
  color: white;
}

.tab {
  display: inline;
  padding: 15px;
  font-weight: bold;
}
