<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div>
    <h1 align="center">how do we measure air quality? </h1>
   <img src="../images/safetyapi.png" style ="float: left"
   width = "500" height ="300">
    <p> AQI (air quality index)
      <br><br>
      An air quality index (AQI) is a number used by government agencies
      to communicate to the public how polluted the air currently is or
      how polluted it is forecast to become. As the AQI increases, an
      increasingly large percentage of the population is likely to experience
       increasingly severe adverse health effects. Computation of the AQI
       requires an air pollutant concentration over a specified averaging
       period, obtained from an air monitor or model. Taken together,
       concentration and time represent the dose of the air pollutant.
       <br><br>
       API levels are classified as such:
       <br>
       <ul>
         <li>0 - 50: healthy</li>
         <li>51 - 100: moderate</li>
         <li>101 - 150: unhealthy for sensitive groups</li>
         <li>151 - 200: unhealthy</li>
         <li>201 - 300: very unhealthy</li>
         <li>301 - 500: hazardous</li>
       </ul>
       <br>
       <hr>
       <h1 align="center">protection</h1>
       <table align="center" class="image">
          <tr><td><img src="../images/safetyapi.png" width="300" height="300"></td>
            <td><img src="../images/safetyapi.png" width="300" height="300"></td>
            <td><img src="../images/safetyapi.png" width="300" height="300"></td>
            <td><img src="../images/safetyapi.png" width="300" height="300"></td>
          </tr>
          <tr>
            <td align="center">stay indoors</td>
            <td align="center">wear a mask outdoors</td>
            <td align="center">use an air purifier</td>
            <td align="center">seek higher altitudes</td>
          </tr>
        </table>
        <br>
        <hr>
        <h1 align="center">resources</h1>
        <img src="../images/safetyapi.png" style ="float: left"
        width = "200" height ="200">
        <br><br><br>
        <ul>
          <li>Masks can be bought from hardware stores or online. The most
          effective masks are those with the words "particulate respirator",
        "NIOSH", and either "N95" or "P100" in its title.</li>
          <li>Air purifiers can be bought from Home Depot, Costcok, or
          online.</li>
          <li><a href="https://airnow.gov/">AirNow</a> has updated information
          on the air quality in all regions.</li>
        </ul>
        <br><br><br><br>
        <hr>
     </p>
    </div>
</body>
</html>
